/* Global styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  /* Light grey background similar to the OEH JKU site */
}

/* Dashboard styles */
#dashboard {
  padding: 20px;
  background-color: #ffffff;
  /* White background for the dashboard */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #004d99;
  /* Dark blue color for headings */
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
  /* Dark grey for form labels */
}

input[type="text"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #004d99;
  /* Dark blue background for buttons */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #003366;
  /* Darker blue on hover */
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

th {
  background-color: #f2f2f2;
  color: #333333;
}

/* Additional CSS for arrow */
.arrow-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 10px 0;
}

.arrow-icon svg {
  fill: #004d99;
}

#add-project-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}